---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { formatDate } from "../utils";
import { SITE_TITLE } from "../consts";
const { frontmatter } = Astro.props;
const type = frontmatter.tags[0];
const { pubDate, title, description, featured} = frontmatter;
const dateFormated = formatDate(pubDate);
---

<html lang="zh-CN" dir="ltr" class="js no-touch progressive-image no-reduced-motion progressive">
  <head>
    <BaseHead title={`${title} - ${SITE_TITLE}`} description={description} image={frontmatter.image.square} />
  </head>
  <body class:list={["page-article", { "theme-dark": frontmatter.theme === "dark" }]}>
    <Header />
    <main id="main" class="main">
      <section>
        <article class="article">
          <div class:list={[{"featured-header": featured, "article-header": !featured}]}>
            <div class="category component">
              <div class="component-content">
                <div class="category-eyebrow">
                  <span class="category-eyebrow__category category_original">{type}</span>
                  <span class="category-eyebrow__date">{dateFormated}</span>
                </div>
              </div>
            </div>
            <div class="pagetitle component">
              <div class="component-content">
                <h1 class="hero-headline">{title}</h1>
              </div>
            </div>
            <div class:list={["component", {"featured-subhead": featured, "article-subhead":!featured}]}>
              <div class="component-content">{description}</div>
            </div>
          </div>
          <slot />
        </article>
      </section>
    </main>
    <Footer/>
    <script>
      import "../scripts/loadimage.js";
    </script>
  </body>
</html>
